* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  scrollbar-gutter: stable;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

button,
select,
option {
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.fill-down-effect {
  position: relative;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
}
.fill-down-effect::before {
  content: "";
  position: absolute;
  bottom: 100%;
  width: 150%;
  height: 300%;
  border-radius: 50%;
  background-color: #fff;
  z-index: -1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media (hover: hover) and (pointer: fine) {
  .fill-down-effect:hover, .fill-down-effect:focus-within {
    color: #000;
  }
}
@media (hover: none) and (pointer: coarse) {
  .fill-down-effect:active, .fill-down-effect:focus, .fill-down-effect:focus-within {
    color: #000;
  }
}
@media (hover: hover) and (pointer: fine) {
  .fill-down-effect:hover::before, .fill-down-effect:focus-within::before {
    bottom: -50%;
  }
}
@media (hover: none) and (pointer: coarse) {
  .fill-down-effect:active::before, .fill-down-effect:focus::before, .fill-down-effect:focus-within::before {
    bottom: -50%;
  }
}

.page {
  min-width: 320px;
  color: #000;
  font-family: "Inter";
  font-size: 1rem;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #fff;
  overflow-x: clip;
}

.page.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 1310px;
  padding-inline: 23px;
  margin-inline: auto;
  overflow-x: clip;
}

.section-title {
  font-family: "Inter";
  font-weight: 600;
  line-height: 120%;
  color: #000;
  font-size: calc(1.5rem + (0.6875) * (100vw - 20rem) / (17.5));
}
@media (min-width: 599.98px) {
  .section-title {
    font-size: calc(2.1875rem + (0.3125) * (100vw - 37.5rem) / (47.875));
  }
}
@media (min-width: 1366px) {
  .section-title {
    font-size: 2.5rem;
  }
}

.section-subtitle {
  font-family: "Inter";
  font-weight: 500;
  line-height: 120%;
  color: #000;
  font-size: calc(0.625px + (0.25) * (100vw - 320px) / (280));
}
@media (min-width: 599.98px) {
  .section-subtitle {
    font-size: calc(0.875px + (0.875 rem-0.875) * (100vw - 600px) / (766));
  }
}
@media (min-width: 1366px) {
  .section-subtitle {
    font-size: 0.875 rempx;
  }
}

.button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-radius: 44px;
  border: 2px solid #000;
  background: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  font-size: calc(0.75rem + (0.25) * (100vw - 20rem) / (17.5));
}
@media (min-width: 599.98px) {
  .button {
    font-size: calc(1rem + (0.125) * (100vw - 37.5rem) / (47.875));
  }
}
@media (min-width: 1366px) {
  .button {
    font-size: 1.125rem;
  }
}
.button {
  padding-inline: calc(1.25rem + (0.3125) * (100vw - 20rem) / (17.5));
}
@media (min-width: 599.98px) {
  .button {
    padding-inline: calc(1.5625rem + (-0.1875) * (100vw - 37.5rem) / (47.875));
  }
}
@media (min-width: 1366px) {
  .button {
    padding-inline: 1.375rem;
  }
}
.button {
  padding-block: calc(0.625rem + (0.25) * (100vw - 20rem) / (17.5));
}
@media (min-width: 599.98px) {
  .button {
    padding-block: calc(0.875rem + (0) * (100vw - 37.5rem) / (47.875));
  }
}
@media (min-width: 1366px) {
  .button {
    padding-block: 0.875rem;
  }
}

.cross {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
}

.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #a1a483;
}
.header__content {
  width: 100%;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  z-index: 5;
  position: relative;
  left: 0;
  top: 0;
}

.header.scrolling {
  background: rgba(79, 79, 84, 0.2);
  backdrop-filter: blur(18px);
}

.header.hidden {
  opacity: 0;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
}

@media (max-width: 1024.9px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100svh;
    width: 100%;
    padding: 100px 30px 30px;
    background: -webkit-gradient(linear, left bottom, left top, from(#f0eeee), color-stop(40%, #f5f5f5), to(#5f5f6b));
    background: linear-gradient(0deg, #f0eeee 0%, #f5f5f5 40%, #5f5f6b 100%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 80px;
    left: -100%;
    top: 0;
    background: rgba(95, 95, 107, 0.1);
    backdrop-filter: blur(5px);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 2;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2rem;
  }
}
@media (min-width: 1025px) {
  .menu__list {
    padding-block: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
    row-gap: 1.5rem;
  }
}
.menu__link {
  font-size: calc(1.5rem + (-0.375) * (100vw - 20rem) / (17.5));
}
@media (min-width: 599.98px) {
  .menu__link {
    font-size: calc(1.125rem + (0) * (100vw - 37.5rem) / (47.875));
  }
}
@media (min-width: 1366px) {
  .menu__link {
    font-size: 1.125rem;
  }
}
.menu__link {
  position: relative;
  top: 0;
  right: 0;
  display: inline-block;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.004em;
  color: #eee8de;
}

.menu__body.open {
  left: 0%;
}
.menu__body.open::before {
  left: 0;
}

@media (max-width: 1024px) {
  .burger {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    width: calc(2rem + (0.875) * (100vw - 20rem) / (17.5));
    height: calc(1.125rem + (0.5) * (100vw - 20rem) / (17.5));
    cursor: pointer;
    z-index: 5;
  }
}
@media (max-width: 1024px) and (min-width: 599.98px) {
  .burger {
    width: calc(2.875rem + (0) * (100vw - 37.5rem) / (47.875));
  }
}
@media (max-width: 1024px) and (min-width: 1366px) {
  .burger {
    width: 2.875rem;
  }
}
@media (max-width: 1024px) and (min-width: 599.98px) {
  .burger {
    height: calc(1.625rem + (0) * (100vw - 37.5rem) / (47.875));
  }
}
@media (max-width: 1024px) and (min-width: 1366px) {
  .burger {
    height: 1.625rem;
  }
}
@media (max-width: 1024px) {
  .burger::before, .burger::after,
  .burger span {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
  }
}
@media (max-width: 1024px) and (min-width: 599.98px) {
  .burger::before, .burger::after,
  .burger span {
    height: 4px;
  }
}
@media (max-width: 1024px) {
  .burger::before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger span {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.burger {
  display: none;
}

.burger.active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
      -ms-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
}
.burger.active::after {
  top: 50%;
  -webkit-transform: rotate(45deg) translateY(-50%);
      -ms-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
}
.burger.active span {
  opacity: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}