@use "../utils/_index" as *;

.arrivals {
  width: 100%;
  min-height: 243px;
  position: relative;

  &__img {
    position: absolute;
    inset: 0;
    z-index: -1;
    @include ibg;
  }

  @include on-tablet {
    min-height: 372px;
  }
  @include on-desktop {
    min-height: 568px;
  }
  &__content {
    @include adaptive-property(padding-inline, 6, 29, 109);
    @include adaptive-property(padding-block, 39, 51, 91);
  }
  &__subtitle {
    color: $bg-color-main;
    margin-bottom: 1.125rem;
  }
  &__title {
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.25px;
    color: $bg-color-main;
    @include adaptive-property(font-size, 1.5, 2.1875, 2.5, rem);
    @include adaptive-property(margin-bottom, 0.75, 1.625, 2.0625, rem);
  }
}
