@use "../utils/_index.scss" as *;

.section-title {
  font-family: $font-family;
  font-weight: 600;
  line-height: 120%;
  color: $text-color-main;
  @include adaptive-property(font-size, 1.5, 2.1875, 2.5, rem);
}

.section-subtitle {
  font-family: $font-family;
  font-weight: 500;
  line-height: 120%;
  color: $text-color-main;
  @include adaptive-property(font-size, 0.625, 0.875, 0.875 rem);
}

//=================================BUTTON=============================
.button {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $bg-color-main;

  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;

  border-radius: 44px;
  border: 2px solid $text-color-main;
  background: $text-color-main;
  transition: $transition-duraction;
  cursor: pointer;
  @include adaptive-property(font-size, 0.75, 1, 1.125, rem);
  @include adaptive-property(padding-inline, 1.25, 1.5625, 1.375, rem);
  @include adaptive-property(padding-block, 0.625, 0.875, 0.875, rem);
}

.cross {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: $bg-color-main;
}