@use "../utils/_index.scss" as *;

.section-title {
  font-family: $font-family;
  font-weight: 600;
  line-height: 120%;
  color: $text-color-main;
  @include adaptive-property(font-size, 1.5, 2.1875, 2.5, rem);
}

.section-subtitle {
  font-family: $font-family;
  font-weight: 500;
  line-height: 120%;
  color: $text-color-main;
  @include adaptive-property(font-size, 0.625, 0.875, 0.875 rem);
}

//=================================BUTTON=============================
.button {
  width: min(100%, 480px);
  position: relative;
  left: 0;
  right: 0;
  padding-block: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2b9ee7;

  font-size: 1.5rem;
  font-weight: 500;
  line-height: 150%;

  border-radius: 20px;
  border: 2px solid #6cafd9;
  background: #c9e4ea;
  transition: $transition-duraction;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}