// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення CSS-змінних
@use "sass:math";
@use "../utils/index" as *;

// Підключення загальних віддалених шрифтів (Google Fonts)

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Стилі BODY з класом PAGE
.page {
  min-width: #{$min-width}px;
  color: $text-color-main;
  font-family: $font-family;
  font-size: #{$font-size};
  font-optical-sizing: auto;
  font-style: normal;
  background-color: $bg-color-main;
  overflow-x: clip;
  &__header {
    @include adaptive-property(margin-bottom, 0, 30, 46);
  }
}

// Скролл заблоковано
.page.lock {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Оболонка WRAPPER
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;

  // Притискаємо footer
  > main {
    flex: 1 1 auto;
  }

  // Фікс для слайдерів
  > * {
    min-width: 0;
  }
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Обмежуючий контейнер

[class*="__container"] {
  max-width: #{$container-width}px;
  padding-inline: #{math.div($container-padding, 2)}px;
  margin-inline: auto;
  overflow-x: clip;
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
