@use "../utils/_index" as *;
@use "sass:math";

.products {
  &__content {
    max-width: #{$container-width}px;
    margin-inline: auto;
    overflow-x: clip;
    @include on-tablet {
      padding-inline: #{math.div($container-padding, 2)}px;
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    @include on-tablet {
      row-gap: 20px;
    }
    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 1rem;
    }
  }
}

.product {
  flex-basis: 100%;
  @media (min-width: 768px) {
    flex-basis: calc((100% - 1rem) / 2);
  }
  @media (min-width: 1024px) {
    flex-basis: calc((100% - 2rem) / 3);
  }
  display: flex;
  &__body-text {
    position: relative;
    z-index: 2;
    max-width: 222px;
    min-width: 40%;
    // @include adaptive-property(width, 158, 222, 222);
  }
  &__title {
    @include adaptive-property(margin-bottom, 0.875, 1.875, 1, rem);
  }
  &__img {
    width: 59%;
    position: relative;
    z-index: 1;
    margin-top: auto;
    @include adaptive-property(margin-right, -24, -40, 0);
    @include adaptive-property(margin-bottom, -24, -44, 0);
    @include ibg(cover);
  }
  @include adaptive-property(padding-inline, 22, 40, 40);
  @include adaptive-property(padding-block, 24, 44, 44);
}
.product:nth-child(1) {
  background-color: #E1E4C2;
}
.product:nth-child(2) {
  background-color: #DCEEEE;
}

.product:nth-child(3) {
  background-color: #F3EFE1;
}

