@use "sass:math";
@use "vars" as *;

@function get-value($min-width, $max-width, $size-at-min-width, $size-at-max-width, $unit) {
  $return-value: calc(#{$size-at-min-width + $unit} + (#{$size-at-max-width - $size-at-min-width}) * ((100vw - #{$min-width + $unit}) / (#{$max-width - $min-width})));
  @return $return-value;
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// АДАПТИВНА ВЛАСТИВІСТЬ

@mixin adaptive-property($property,
  $mobile-size,
  $tablet-size,
  $desktop-size,
  $unit: px) {
  $max-width: 1366;
  $min-width: 320;
  $tablet-width: 600;

  @if ($unit ==rem) {
    $max-width: math.div(1366, 16);
    $min-width: math.div(320, 16);
    $tablet-width: math.div(600, 16);
  }

  @if ($tablet-size ==0) {
    #{$property}: $desktop-size + $unit;

    @media (max-width: 1366px) {
      #{$property}: get-value($min-width,
          $max-width,
          $mobile-size,
          $desktop-size,
          $unit );
    }
  }

  @else {
    #{$property}: get-value($min-width,
        $tablet-width,
        $mobile-size,
        $tablet-size,
        $unit );

    @media (min-width: 599.98px) {
      #{$property}: get-value($tablet-width,
          $max-width,
          $tablet-size,
          $desktop-size,
          $unit );
    }

    @media (min-width: 1366px) {
      #{$property}: $desktop-size + $unit;
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// БРЕЙКПОІНТИ

@mixin on-desktop {
  @media (min-width: #{$pc}px) {
    @content;
  }
}

@mixin on-tablet {
  @media (min-width: #{$tablet}px) {
    @content;
  }
}


@mixin on-mobile-s {
  @media (min-width: #{$mobile-s}px) {
    @content;
  }
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex($x: center, $y: start) {
  display: flex;
  justify-content: $x;
  align-items: $y;
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// GRID
// @mixin grid-cards($type: fit, $min: 280px, $max: 1fr, $gap: 30px) {
//   display: grid;
//   min-width: 0;
//   gap: $gap;
//   grid-template-columns: repeat(auto-#{$type}, minmax($min, $max));
// }

// @mixin grid-container($quantity) {
//   display: grid;
//   min-width: 0;
//   grid-template-columns: repeat($quantity, minmax(280px, 1fr));
// }

// HOVER
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@mixin hover() {
  @media (hover: hover) and (pointer: fine) {

    &:hover,
    &:focus-within {
      @content;
    }
  }

  @media (hover: none) and (pointer: coarse) {

    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  }
}

@mixin hover-pseudo($pseudo) {
  @media (hover: hover) and (pointer: fine) {

    &:hover#{$pseudo},
    &:focus-within#{$pseudo} {
      @content;
    }
  }

  @media (hover: none) and (pointer: coarse) {

    &:active#{$pseudo},
    &:focus#{$pseudo},
    &:focus-within#{$pseudo} {
      @content;
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

@mixin position-r {
  position: relative;
  left: 0;
  top: 0;
}

@mixin ibg($size: cover) {
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: $size;
    object-position: center;
  }
}