
$font-family: "Inter"; // Шрифт за замовчуванням
$font-size: 1rem; // Розмір шрифту за замовченням (де 16 - розмір шрифту за замовчуванням з макету)

// Основні кольори
$text-color-main: #000;

//Фон
$bg-color-main: #fff;
$bg-color-gray: #f2f2f2;
$bg-color-dark: #171717;

// Ефекти і їх тривалість
$transition-duraction-long: 0.65s;
$transition-duraction: 0.3s;

// Ефекти і їх тривалість
$transition-duraction-long: 0.65s;
$transition-duraction: 0.3s;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування адаптивної сітки
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Мінімальна ширина сторінки
$min-width: 320;
// Ширина полотна (макету)
$max-width: 1366;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$max-width-container: 1264;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$container-padding: 46;

// Ширина спрацьовування першого брейкпоінту
$container-width: $max-width-container + $container-padding;

// Брейк-поїнти
$pc: $container-width; // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: 599.98; // Планшети, деякі телефони в горизонтальному положенні
$mobile-s: 479.98; // Телефони S

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

