@use "../utils/index" as *;

.fill-down-effect {
  position: relative;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    width: 150%;
    height: 300%;
    border-radius: 50%;
    background-color: $bg-color-main;
    z-index: -1;
    transition: $transition-duraction ease-in-out;
  }

  @include hover {
    color: $text-color-main;
  }

  @include hover-pseudo('::before') {
    bottom: -50%;
  }
}